[submodule "Tweaks/protobuf"]
	path = Tweaks/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "Tweaks/YTUHD"]
	path = Tweaks/YTUHD
	url = https://github.com/aricloverALT/YTUHD
[submodule "Tweaks/YouQuality"]
	path = Tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality
